.navBar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  height: 10vh;
  width: 100%;
}
.sub-nav {
  margin:0;
  height:inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sub-nav * {
  text-decoration: none;
}
a {
  color: white;
}
a:hover {
  text-decoration: underline;
}
.title a {
  text-decoration: none;
}
.title a:hover {
  text-decoration: underline;
}
